@helper If(bool condition, string then)
{
    if (condition)
    {
        <text>@then</text>
    }
}

@helper Pager(int currentPage,
              int totalPages,
              Func<int, string> pageUrl,
              bool hasPreviousPage,
              bool hasNextPage,
              string cssClass = null)
{
    if (totalPages > 1)
    {
        <ul class="pagination @cssClass">
            <li @If(!hasPreviousPage, then: "class=disabled")>
                <a href="@pageUrl(currentPage - 1)">&laquo;</a>
            </li>
            @for (int i = 1; i < totalPages + 1; i++)
            {
                <li @If(i == currentPage, then: "class=active")>
                    <a href="@pageUrl(i)">@i</a>
                </li>
            }
            <li @If(!hasNextPage, then: "class=disabled")>
                <a href="@pageUrl(currentPage + 1)">&raquo;</a>
            </li>
        </ul>
    }
}